.navbar
{
	height: 150px;
	background: rgb(60, 60, 60);							/* NOTE: setting opacity to 0.5 will cause the see through effect but, the children <div>/jumbotrons will be affected as well so using rgb fixes that. */
    background: rgba(60, 60, 60, 0.4);
	color: black;
}

img
{
	height: 160px;
	width: 160px;
	

	overflow: hidden;
}

h2
{
	margin-top: 100px;
	float: right;
}